#!/bin/sh

set -e

. /usr/share/debconf/confmodule

db_input high openstack-compute-node/create_endpoints || true
db_go
db_get openstack-compute-node/create_endpoints || true
if [ "$RET" = "true" ] ; then
    db_input high openstack-compute-node/region || true
    db_input high openstack-compute-node/ip_address || true
    db_input high openstack-compute-node/auth-token || true
    db_go
fi

#DEBHELPER#
