#!/bin/sh

set -e

. /usr/share/debconf/confmodule

db_input high openstack-proxy-node/create_endpoints || true
db_go
db_get openstack-proxy-node/create_endpoints || true
if [ "$RET" = "true" ] ; then
    db_input high openstack-proxy-node/region || true
    db_input high openstack-proxy-node/ip_address || true
    db_go
fi
